<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button [routerLink]="['/page1']">Ir para Página 1 (Acessos: {{ page1Count }})</ion-item>
    <ion-item button [routerLink]="['/page2']">Ir para Página 2 (Acessos: {{ page2Count }})</ion-item>
    <ion-item button [routerLink]="['/page3']">Ir para Página 3 (Acessos: {{ page3Count }})</ion-item>
  </ion-list>
</ion-content>

<!-- ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->
